.loginPage {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.loginWrapper {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.loginForm {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  width: 300px;

  .formRow {
    display: flex;
    width: 100%;

    label {
      margin-right: 10px;
    }

    input {
      flex: 1;
    }
  }
}
